<div class="mt-4">
  <form method="POST">
    <div class="form-group col-4">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="q"
      />
      <div class="form-group">
        <label for="gender-input">Từ khóa</label>
        <select name="gender"  id="gender-input" class="form-control">
          <option value="">--Choice Gender--</option>
          <option value="male">Nam</option>
          <option value="female">Nữ</option>
        </select>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>